<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시판 목록</title>
    <link rel="stylesheet" th:href="@{'./assets/styles/list.css'}" type="text/css">
</head>
<body>
<h1>게시판 목록</h1>
<table border="1">
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>조회수</th>
        <th>작성자</th>
        <th>작성일</th>
    </tr>
    <tr th:if="${articles != null || articles.length > 0}"
        th:each="article : ${articles}">
        <th th:text="${article.getIndex()}"></th>
        <td>
            <a th:href="@{'../../article/read' (index=${article.getIndex()})}"
               th:text="${article.getTitle()}"></a>
        </td>
        <td th:text="${article.getView()}"></td>
        <td th:text="${article.getWriter()}"></td>
        <td th:text="${#temporals.format(article.getCreatedAt(), 'yyyy-MM-dd')}"></td>
    </tr>
    <tr th:if="${articles == null || articles.length == 0}">
        <td colspan="5">게시글이 존재하지 않습니다.</td>
    </tr>
    <tfoot>
    <tr>
        <td colspan="5">
            <a th:if="${page > 0}"
               th:each="page : ${#numbers.sequence(vos.movableMinPage, vos.movableMaxPage)}"
               th:text="${page}"
               th:style="'margin-right: 0.5rem;'"
               th:href="@{'../../board/list' (page = ${page})}"></a>
        </td>
    </tr>
    </tfoot>
</table>
<a class="button" th:href="@{'../../article/write'}">글 쓰기</a>
</body>
</html>