<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${article == null ? '오류' : '게시글 읽기'}"></title>
    <script th:if="${article == null}">
        alert("존재하지 않는 게시글입니다. 주소를 다시 확인해 주세요.")
        if (history.length < 1) {
            window.close();
        } else {
            history.back();
        }
    </script>
    <script defer th:src="@{../../article/assets/scripts/read.js}" type="text/javascript"></script>
</head>
<body th:if="${article != null}">
<h1>게시글 읽기</h1>
<table border="1">
    <tr>
        <th>글 번호</th>
        <td th:text="${article.getIndex()}"></td>
        <th>작성자</th>
        <td th:text="${article.getWriter()}"></td>
        <th>조회수</th>
        <td th:text="${article.getView()}"></td>
    </tr>
    <tr>
        <th>작성일(수정일)</th>
        <td colspan="5"
            th:if="${article.getModifiedAt() != null}"
            th:text="${#temporals.format(article.getCreatedAt(), 'yyyy-MM-dd HH:mm:ss')} + '(' + ${#temporals.format(article.getModifiedAt(), 'yyyy-MM-dd HH:mm:ss')} + ')'"></td>
        <td colspan="5"
            th:if="${article.getModifiedAt() == null}"
            th:text="${#temporals.format(article.getCreatedAt(), 'yyyy-MM-dd HH:mm:ss')} + '(수정되지 않음)'"></td>
    </tr>
    <tr>
        <th>제목</th>
        <td colspan="5" th:text="${article.getTitle()}"></td>
    </tr>
    <tr>
        <th>내용</th>
        <td colspan="5" th:text="${article.getContent()}"></td>
    </tr>
    <tr>
        <td colspan="6">
            <a th:href="@{../board/list}" target="_self">목록으로</a>
        </td>
    </tr>
</table>
<form id="form">
    <h2>댓글 작성</h2>
    <label>
        <span>작성자</span>
        <input name="commentWriter" autofocus required maxlength="10" minlength="2" type="text">
    </label>
    <label>
        <span>내용</span>
        <input name="commentContent" required maxlength="1000" minlength="1" type="text">
    </label>
    <button type="submit">작성</button>
</form>
<table id="table" border="1">
    <thead>
    <tr>
        <th>순번</th>
        <th>작성자</th>
        <th>내용</th>
        <th>작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr class="comment" th:each="comment : ${comments}">
        <th th:text="${comment.getIndex()}"></th>
        <td th:text="${comment.getWriter()}"></td>
        <td th:text="${comment.getContent()}"></td>
        <td th:text="${#temporals.format(comment.getCreatedAt(), 'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>